[Unit]
Description=Pi webcam

[Service]
ExecStart={{ uvc_gadget_directory }}/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User={{ ansible_user }}
Group=pi
WorkingDirectory={{ uvc_gadget_directory }}/

[Install]
WantedBy=basic.target
